<footer class="bg-light text-center text-lg-start sticky-bottom bg-dark" style="color: #fff;">

  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
    Copyright © 2021 FlashCards.  All rights reserved.
  </div>
</footer>
