<div style="background: url(https://i.postimg.cc/ZnHTP71s/aircraft-airplane-boat-1575833.jpg)" style='min-height: 100vh;
background-size: cover !important;'>

  <div class="container py-5">
    <section class="text-center text-white py-5">
      <h1 class="display-4 font-weight-bold mb-4">Study with fun!</h1>
      <p class="lead mb-0">FlashCards is your new favorite study tool that makes learning, memorizing information, and preparing for an exam, a fun, stress-free, and enjoyable experience.  </p>
    </section>

   <div class="card text-center mx-auto my-3" style="width: 50rem;">
  <div class="card-body">
    <h5 class="card-title">Learning will soon become your favorite hobby!</h5>
    <p class="card-text">Use our free online flashcards made by our other people or create your own online flashcards and share them with your friends!</p>
  </div>
  </div>

  <div class="card text-center mx-auto my-3" style="width: 50rem;">
  <div class="card-body">
    <h5 class="card-title">Created to inspire</h5>
    <p class="card-text">FlashCards are made to inspire students to interact with their learning material and to make studying fun.</p>
  </div>
  </div>

  <div class="card text-center mx-auto my-3" style="width: 50rem;">
  <div class="card-body">
    <h5 class="card-title">The best solution to your kids</h5>
    <p class="card-text">With FlashCards project you can forget about wasting time on learning with your children. They'd really like this app!</p>
  </div>
  </div>

</div>



